@use '../../../styles/abstacts/variables' as color;
@use '../../../styles/abstacts/mixins' as mixins;

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.language_change {
  width: 84px;
  height: 28px;
  border: solid 1px color.$btn-color;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  align-items: center;
}

.language_change:hover {
  border: solid 1px color.$textPrimary-color;
  width: 85px;
  height: 29px;
}

.btn-en {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: color.$textSecondary-color;
  cursor: pointer;
}

.btn-de {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: color.$textSecondary-color;
  cursor: pointer;
}

.active {
  background: color.$btn-color;
  color: color.$textPrimary-color;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  position: relative;
  color: color.$textPrimary-color;
  transition: color 0.3s ease;
  padding: 5px 0; /* Etwas Platz für den Punkt */

  &::after {
    content: '';
    position: absolute;
    bottom: -8px; /* Abstand unter dem Text */
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 6px;
    height: 6px;
    background-color: color.$btn-color; /* Die Farbe deines Logos */
    border-radius: 50%;
    transition: transform 0.3s ease;
  }

  &:hover {
    color: color.$textSecondary-color; /* Text wird beim Hover etwas heller/deutlicher */

    &::after {
      transform: translateX(-50%) scale(1);
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    @include mixins.hide-element;
  }
}
