<section class="navbar">
  <div class="btn language_change">
    <span [class.active]="translate.currentLang === 'en'" (click)="useLanguage('en')" class="btn-en"
      >EN</span
    >
    <span [class.active]="translate.currentLang === 'de'" (click)="useLanguage('de')" class="btn-de"
      >DE</span
    >
  </div>
  <p></p>
  <a [routerLink]="['/about']">{{ 'navbar.about' | translate }}</a>
  <a [routerLink]="['/skills']">{{ 'navbar.skills' | translate }}</a>
  <a [routerLink]="['/future']">{{ 'navbar.projects' | translate }}</a>
</section>
