<section class="navbar">
  <div class="btn language_change">
    <span [class.active]="translate.currentLang === 'en'" (click)="useLanguage('en')" class="btn-en"
      >EN</span
    >
    <span [class.active]="translate.currentLang === 'de'" (click)="useLanguage('de')" class="btn-de"
      >DE</span
    >
  </div>
  <p></p>
  <a class="navbar-link" [routerLink]="['/']" fragment="about">{{ 'navbar.about' | translate }}</a>
  <a class="navbar-link" [routerLink]="['/']" fragment="skills">{{
    'navbar.skills' | translate
  }}</a>
  <a class="navbar-link" [routerLink]="['/']" fragment="projects">{{
    'navbar.projects' | translate
  }}</a>
</section>
