<img src="icon/burger_icon.png" />
<div class="burger_popp_toggle">
  <div class="burger_popp_toggle">
    <button class="burger_popp__button" (click)="toggleBurger()">X</button>
    <a [routerLink]="['/about']">{{ 'navbar.about' | translate }}</a>
    <a [routerLink]="['/skills']">{{ 'navbar.skills' | translate }}</a>
    <a [routerLink]="['/future']">{{ 'navbar.projects' | translate }}</a>
    <div class="language_change">
      <span (click)="useLanguage('en')" class="btn-en">EN</span>
      <span (click)="useLanguage('de')" class="btn-de">DE</span>
    </div>
  </div>
</div>
