@use '../../styles/abstacts/variables' as color;

a,
p {
  color: color.$textPrimary-color;
  font-size: 16px;
  font-family: 'Karla Regular', monospace;
  font-weight: 400;
}

.footer {
  padding: 0 16px 0 16px;
  margin: 100px 0 25px 0;

  &__content-wrapper-outer {
    display: flex;
    justify-content: space-between;
  }

  &__content-wrapper-inner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
  }
  &__img-wrapper {
    display: flex;
    gap: 8px;
  }
  &__name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p {
      font-family: 'Fira Code Regular', monospace;
      font-weight: bold;
      font-size: 20px;
    }
  }

  &__image {
    width: 36px;
    height: 48px;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__sozial-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__copyright {
    display: block;
    margin-top: 32px;
    text-align: center;
    color: color.$textSecondary-color;
    font-size: 16px;
    font-family: 'Fira Code Regular', monospace;
    font-weight: 400;
  }

  &__copyright_mobile {
    display: block;
    margin-top: 32px;
    text-align: center;
    color: color.$textSecondary-color;
    font-size: 16px;
    font-family: 'Fira Code Regular', monospace;
    font-weight: 400;
  }
}

.navbar-link {
  position: relative;
  color: color.$textPrimary-color;
  transition: color 0.3s ease;
  padding: 5px 0;
  /* Etwas Platz für den Punkt */

  &::after {
    content: '';
    position: absolute;
    bottom: 10px;
    margin-right: 10px;
    /* Abstand unter dem Text */
    right: 100%;
    transform: translateX(-50%) scale(0);
    width: 6px;
    height: 6px;
    background-color: color.$btn-color;
    /* Die Farbe deines Logos */
    border-radius: 50%;
    transition: transform 0.3s ease;
  }

  &:hover {
    color: color.$textSecondary-color;
    /* Text wird beim Hover etwas heller/deutlicher */

    &::after {
      transform: translateX(-50%) scale(1);
    }
  }
}

@media (min-width: 768px) {
  .footer {
    margin: 140px 96px 0 96px;
  }

  .footer__content-wrapper-outer {
    margin-bottom: 64px;
  }

  .footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__name-wrapper {
    display: none;
  }

  .footer__copyright_mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer__copyright {
    display: none;
  }
}
