// ------ Color Variables ----- //
$primary-color: #1c1c1c;
$secondary-color: #08463b;

// ------ Btn color Variables ----- //
$btn-color: #3dcfb6;

// ------ Text color Variables ----- //
$textPrimary-color: #ffffff;
$textSecondary-color: #3dcfb6;
