<section class="contact" id="contact">
  <div class="contact__container">
    <div class="contact__container_flex">
      <div class="contact__container-head">
        <p>{{ 'contact.headline' | translate }}</p>
        <h2>{{ 'contact.headline-description' | translate }}</h2>
      </div>
      <div class="contact__container-body">
        <p>{{ 'contact.headlineTwo' | translate }}</p>
        <span class="contact__container-text">{{
          'contact.headlineTwoDescription' | translate
        }}</span>
        <span class="contact__container-description"
          >{{ 'contact.description' | translate }}
          <span class="contact__container-description-text">{{
            'contact.linkTextOne' | translate
          }}</span></span
        >
      </div>
    </div>
    <div class="contact__container-form">
      <form [formGroup]="contactForm" (ngSubmit)="submit()">
        <div
          class="contact__container-form-wrapper"
          [class.error-border]="name?.touched && name?.invalid"
        >
          <p [class.error-text]="name?.touched && name?.invalid">
            {{ 'contact.name' | translate }}
          </p>
          <input
            type="text"
            placeholder="{{ 'contact.namePlaceholder' | translate }}"
            formControlName="name"
          />
          <div class="error-message">
            @if (name?.touched && name?.errors?.['required']) {
              {{ 'contact.errorThree' | translate }}
            }
          </div>
        </div>

        <div
          class="contact__container-form-wrapper"
          [class.error-border]="email?.touched && email?.invalid"
        >
          <p [class.error-text]="email?.touched && email?.invalid">
            {{ 'contact.email' | translate }}
          </p>
          <input
            type="email"
            placeholder="{{ 'contact.emailPlaceholder' | translate }}"
            formControlName="email"
          />
          <div class="error-message">
            @if (email?.touched && email?.errors?.['required']) {
              {{ 'contact.errorOne' | translate }}
            } @else if (email?.touched && email?.errors?.['email']) {
              {{ 'contact.errorTwo' | translate }}
            }
          </div>
        </div>

        <div
          class="contact__container-form-wrapper"
          [class.error-border]="message?.touched && message?.invalid"
        >
          <p [class.error-text]="message?.touched && message?.invalid">
            {{ 'contact.message' | translate }}
          </p>
          <textarea
            placeholder="{{ 'contact.messagePlaceholder' | translate }}"
            formControlName="message"
          ></textarea>
          <div class="error-message">
            @if (message?.touched && message?.errors?.['required']) {
              {{ 'contact.errorFour' | translate }}
            }
          </div>
        </div>

        <div class="contact__container-form-privacy">
          <div class="contact__container-form-privacy-wrapper">
            <div class="contact__container-form-privacy-checkbox">
              <input type="checkbox" id="privacy" formControlName="privacy" />
            </div>
            <div class="contact__container-form-privacy-text">
              <span>
                {{ 'contact.privacy-police-text-one' | translate }}
                <span class="contact__container-form-privacy-link">{{
                  'contact.linkTextTwo' | translate
                }}</span>
              </span>
              <div class="contact__container-form-privacy-text-two">
                <span>{{ 'contact.privacy-police-text-two' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="contact__container-form-privacy-button-wrapper">
            <button class="contact__container-form-privacy-button" type="submit">
              {{ 'contact.button' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
